body {
    background-color:#000000;
}
.header {
    background: url('images/nas-cover.jpg') no-repeat center center;
    background-size: cover;
    color: #ffffff;
    min-height:100vh;
    width:100%;
    letter-spacing: 2px;
    position: relative;
}

.logo {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    max-width: 80%;
}

.border {
    border:1px;
    background-color:#ececec;
    width:100%;
}

.main-content {
    background-color: #111111;
    border-radius: 8px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.text-content {
    max-width: 500px;
}

.text-content h2 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-content p {
    color: #ffffff;
    line-height: 1.7;
    margin-bottom: 30px;
}

.btn-listen {
    display: inline-block;
    padding: 5px 20px;
    background-color:  #111111;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #ffffff;
    border-radius: 2px;
    transition: background 0.3s ease;
    letter-spacing:2px;
}

.btn-listen:hover {
    background-color: #333;
}

.image-content {
    flex-shrink: 0;
}

.album {
    width: 280px;
    border-radius: 6px;
    box-shadow: 0 15px 30px rgba(235, 230, 230, 0.164);
}

footer {
    width: 100%;
    background: #000;
}

.footer-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
}

.nas-footer {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.nas-footer {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nas-footer:hover {
    opacity: 0.7;
}



@media (max-width: 768px) {

    .main-content {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .text-content {
        max-width: 100%;
    }

    .image-content {
        margin-top: 10px;
    }

    .album {
        width: 100%;
    }

    .nas-footer {
        height: 115px;
    }
}
